*{
  margin: 0;
}
.wrapper {
 display: flex;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
}

aside {
  float: left;
  width: 200px;
  height: 100vh;
  background-color: #f1f1f1;
  user-select: none;
}

main {
  margin-left: 20%;
  padding: 2em;
  margin: 0;
  
}

.middle {
  flex: 1;
  
}


nav{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 5px;
}

button {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  padding: 1em;
  border-radius: 0.5em;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.2s ease-in-out;

}
button:hover{
  background-color: #333;
  color: #fff;
}
